{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-sm-10">
                <div class="card-body">
                    Select file to be uploaded
                    <form method="POST" action="{{ url_for('fill') }}" enctype="multipart/form-data" id="my_form">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-10">
                                    <input type="file" name="file" accept=".doc,.docx" class="form-control-file" id="exampleFormControlFile1">
                                </div>
                                <div class="col-sm-2">
                                  <button class="btn btn-primary" type="submit" name="action">Submit
                                  </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

        <!-- Add Toast when submit button is clicked-->
        <!-- Form should be inside a card or a modal kind of stuff -->
        <!-- Help should follow under instead of going to another page -->
        <!-- Help link should move to that part of the page-->
        <script src="{{url_for('static', filename='index.js')}}"></script>
{% endblock %}
